.dropdown-menu {
  @apply absolute right-0 z-[999] mt-2 w-52 rounded-lg bg-white/10 backdrop-blur-md p-2 shadow-lg border border-white/20;
}

.dropdown-item {
  @apply flex items-center px-3 py-2 hover:bg-white/20 rounded-md text-white;
}

.dropdown-button {
  @apply flex items-center w-full px-3 py-2 text-white bg-pink-700 hover:bg-pink-500 rounded-md;
} 

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
